body {
  margin: 0;
  padding: 0;
}

.capitalize {
  text-transform: capitalize;
}

h1,
h2,
h2,
h3,
h4,
h5 {
  color: #008770;
  font-size: 1.5em;
}

header {
  position: fixed;
  margin: 0px;
  padding-bottom: 1.1em;
  width: 100%;
  z-index: 40;
  display: flex;
  flex-wrap: nowrap;
}

header h1 {
  position: relative;
  top: 1px;
  margin: 0;
  padding: 0;
  z-index: 10;
  font-size: 2.4em;
  border-bottom: 3px solid #008770;
  flex-grow: 1;
}

header i {
  z-index: 10;
  flex-shrink: 0;
  font-size: 2em;
  align-self: center;
  padding-right: 0.5em;
  padding-bottom: 0.3em;
  padding-top: 0.3em;
  border-bottom: 3px solid #008770;
  cursor: pointer;
}

a {
  color: #008770;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #003b31;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

section {
  position: absolute;
  top: 4.5em;
  left: 0;
}

.sidebar-open aside#menu {
  transform: translate3d(0, 0, 0);
}

.help-open aside#help {
  transform: translate3d(0, 0, 0);
}

aside#help {
  width: 35em;
}

aside {
  transition: all 0.2s ease-in;
  transform: translate3d(100%, 0, 0);
  position: fixed;
  top: 3.5em;
  background: white;
  height: 100%;
  z-index: 50;
  right: 0;
  padding: 1em;
  border-left: 1px solid #ddd;
}

aside h5 {
  text-transform: none;
}

aside ul:not(.list-unstyled) {
  padding-left: 1em;
}

aside ul li.jump-to,
aside ul label {
  cursor: pointer;
}

.hidden {
  display: none;
}

.gutter-horizontal {
  width: 10px;
  cursor: ew-resize;
}

.environment-header {
  position: sticky;
  position: -webkit-sticky;
  top: 4.5em;
  z-index: 30;
  cursor: pointer;
}

.source-header {
  position: sticky;
  position: -webkit-sticky;
  top: 8.1em;
  z-index: 20;
  cursor: pointer;
}

.grid-container {
  margin-bottom: 1.5em;
}

.explorer-grid .grid-header {
  top: 4.5em;
}

.raw-grid .grid-item {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.raw-grid .grid-header {
  top: 10.9em;
}

.grid-header {
  position: sticky;
  /*position: -webkit-sticky;*/
  background-color: white;
  padding-bottom: 0.5em;
  display: grid;
  grid-template-columns: repeat(15, auto);
  justify-content: start;
  z-index: 10;
  font-weight: bold;
}

.grid-row {
  font-size: smaller;
  display: grid;
  grid-template-columns: repeat(15, auto);
  justify-content: start;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.grid-row:nth-child(odd) {
  background-color: white;
}

.grid-item {
  margin: 0;
}

.word-wrap .grid-item:not(.sticky-column) span {
  white-space: normal;
  overflow-wrap: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.truncate-content {
  overflow-x: hidden;
  white-space: nowrap;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

.truncate-content-overflow {
  overflow-x: auto;
  overflow-wrap: break-word;
}

/* stops safari adding a tooltip */
.truncate-content::after {
  content: '';
  display: block;
}

.hide-evictions {
  display: none;
}

.hide-refconf-only .refconf-only {
  display: none;
}

.suppressed {
  color: grey;
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.undeployed {
  color: orange;
  font-weight: bold;
}

.hide-warnings {
  display: none;
}

.show-warnings .hide-warnings {
  display: inline;
}

.warning {
  color: black;
  font-weight: normal;
}

.show-warnings .warning {
  color: #31708f;
  font-weight: bold;
}

.popover-warnings ul {
  padding-left: 1.2em;
  margin-bottom: 0;
}

.grid-row>.grid-item {
  font-family: monospace;
}

.grid-row>.grid-item>ul>li {
  padding-right: 0.5em;
  display: flex;
  flex-wrap: nowrap;
}

.grid-row>.grid-item>ul>li>span {
  flex-grow: 1;
}

.grid-row>.grid-item>ul>li>span:empty::after {
  color: grey;
  content: "<empty>";
  font-style: italic;
}

.grid-row>.grid-item>ul>li:hover>a {
  visibility: visible;
}

.grid-row>.grid-item>ul>li>a {
  color: #008770;
  flex-shrink: 0;
  width: 1.2em;
  visibility: hidden;
  text-decoration: none;
}

.grid-row>.grid-item>ul>li>a:hover {
  text-decoration: underline;
}

.grid-row>.grid-item>a {
  color: 008770;
  flex-shrink: 0;
  width: 1.2em;
  text-decoration: none;
}

.grid-row>.grid-item>a.glyphicon {
  color: #008770;
  visibility: hidden;
}

.grid-row>.grid-item:hover>a {
  visibility: visible;
}

.grid-row>.grid-item>a:hover {
  text-decoration: underline;
}

.grid-row>.grid-item>a.pull-right {
  position: absolute;
  right: 0px;
}

.highlight {
  border: 2px solid red;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.highlight-amber {
  border: 2px solid #ffbf00;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.opaque::after {
  display: block;
  width: 100%;
  background: white;
  position: absolute;
  content: "";
  top: 0;
  height: 100%;
}

.opaque h1 {
  padding-left: 8px;
}

.sticky-header {
  position: sticky;
  position: -webkit-sticky;
  display: block;
  width: 1vw;
  left: 0;
  padding-left: 8px;
  white-space: nowrap;
}

.sticky-column {
  position: sticky;
  position: -webkit-sticky;
  padding-right: 25px;
  left: 0;
  background: inherit;
  z-index: 5;
}

.grid-container.collapsed .grid-content {
  display: none;
}

.grid-container.collapsed:not(:last-child) {
  margin-bottom: 0;
}
