$font-family-sans-serif: "nta",Arial,sans-serif;

$icon-font-path: '/fonts/';
$fa-font-path: '/fonts/';

$white: #fff;
$black: #000;
$cod-grey: #191717;
$brand-primary: #008770;
$brand-secondary: $black;

$navbar-default-bg: $black;

$navbar-border-radius: 0px;
$navbar-default-brand-color: $white;
$navbar-default-link-color: $white;
$navbar-default-link-hover-color: $white;
$navbar-default-link-active-color: $white;

$dropdown-header-color: $white;

$state-info-text: $white;
$state-info-bg: $brand-primary;

$grey-1: #6f777b;
$grey-2: #bfc1c3;
$grey-3: #dee0e2;
$grey-3: #f8f8f8;
$light-grey: #f5f5f5;
$dark-grey: #dddddd;
