$font-family-sans-serif: "nta",Arial,sans-serif;

$icon-font-path: '/fonts/';
$fa-font-path: '/fonts/';

$brand-primary: #008770;
$brand-secondary: #000;

$navbar-default-bg: #000;

$navbar-border-radius: 0px;
$navbar-default-brand-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;

$dropdown-header-color: #fff;

$state-info-text: #fff;
$state-info-bg: $brand-primary;