@standard_layout() {
    <h1>About the catalogue</h1>
    <p>The catalogue is a resource you can use to find information about teams working on the Tax Platform and the
        services they own.</p>
    <p>Currently you can browse a list of teams or a list of services (which you can search using your browser) and drill down to access links to Jenkins, Travis
        &amp; Github for each service belonging to that team.</p>
    <p>This service is currently in an early alpha phase, and needs your feedback in order to improve. If you have
        anything to offer, or find something wrong, you can contact us in the
        <a href="https://hmrcdigital.slack.com/messages/team-platops/" target="_blank">#team-platops</a>
        room in Slack.</p>
}
