@import uk.gov.hmrc.cataloguefrontend.ViewMessages
@standard_layout() {
    <section class="section-wrapper">
        <h1>About the catalogue</h1>
        <p>The catalogue is a resource you can use to find information about teams working on the Tax Platform, and the
            services and libraries they own.</p>
        <p>You can browse the lists (which are searchable using your browser) and drill down to access links to Jenkins, Travis
            &amp; Github for each service or library belonging to that team)</p>
        <p>This service is currently in an alpha phase, and needs your feedback in order to improve. If you have
            anything to offer, or find something wrong, you can contact us in the
            <a href="https://hmrcdigital.slack.com/messages/team-platops/" target="_blank">#team-platops</a>
            room in Slack.</p>
    </section>
    <section class="section-wrapper">
        <h2 id="maintenance">How is the catalogue maintained?</h2>
        <p>We use team and repository information from Github Open and Github Enterprise in order to programatically build
            the catalogue. If you notice something is not quite right, you can usually fix it by updating Github directly.<p>
        <p>Some teams and repositories are hidden, for example microservice templates that have the structure of play apps
            but are not services themselves. This list is maintained in
            <a href="@Html(ViewMessages.appConfigBaseUrl)">app-config-base</a>. If you want a repository or team hidden,
            you can send us a pull request.</p>
        <p>We reload the catalogue once every hour, so you may need to wait a little while until your changes take effect.</p>

        <h3 id="detection-strategy">Populating the Digital Service page</h3>
        <p>A digital service is an end-to-end service that is composed of multiple microservices. Each one potentially spans multiple teams and has many services/libraries/prototypes/repositories attached to it. Unfortunately there is no automatic way to assign a digital service name to each repository on our platform. Thus the catalogue uses the convention that the digital service name for a given repository be located in its root directory in a <a href="https://github.com/hmrc/catalogue-frontend/blob/master/repository.yaml" target="_blank">repository.yaml file.</a>
        <p>In order to populate the catalogue with your digital service, you would need to add this repository.yaml file at the root level of every service/library/prototype/repository belonging to your team with its respective digital service name.</p>
    </section>
}
