@()

<html>
    <head>
        <title>Tax Platform Catalogue - Home</title>
    </head>
    <body>
        <header>
            <h1>Tax Platform Catalogue</h1>
        </header>
        <nav>
            <ul><li>
                <a href="teams">List of Teams</a>
            </li></ul>
        </nav>
        <hr />
        <section>
            <h2>About the catalogue</h2>
            <p>The catalogue is a resource you can use to find information about teams working on the Tax Platform and the
            services they own.</p>
            <p>Currently you can browse a list of teams, and drill down to access links to Jenkins, Travis
                &amp; Github for each service belonging to that team.</p>
            <p>This service is currently in an early alpha phase, and needs your feedback in order to improve. If you have
            anything to offer, or find something wrong, you can contact us in the
                <a href="https://hmrcdigital.slack.com/messages/team-platops/" target="_blank">#team-platops</a> room in Slack.</p>
        </section>
    </body>
</html>
